.empty-card {
	display: flex;
	aspect-ratio: 1;
	border-radius: 12px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: transform ease 0.2s;
	background-color: var(--color-background-bright);
}
.empty-card__title {
	display: flex;
	font-weight: 500;
	align-items: center;
	flex-direction: column;
	font-size: var(--font-size-l);
	font-family: var(--font-medium), sans-serif;
}
.empty-card__title--small {
	font-size: var(--font-size-s);
	color: var(--color-secondary-bright);
}
