.answer {
	gap: 16px;
	padding: 24px;
	display: flex;
	min-height: 430px;
	position: relative;
	border-radius: 8px;
	flex-direction: column;
	color: var(--color-white);
	background-color: var(--color-primary);
}
.answer--hide {
	display: none;
}
.answer__button {
	right: 16px;
	width: 40px;
	bottom: 16px;
	height: 40px;
	border: none;
	display: flex;
	cursor: pointer;
	position: absolute;
	align-items: center;
	justify-content: center;
	background: url(../../../../images/bookmark-20-dark.svg) center no-repeat;
}
.answer__button--active {
	background-image: url(../../../../images/bookmark-20-filled-dark.svg);
}
.answer__span--hidden {
	top: auto;
	width: 1px;
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
}
.answer__headline {
	line-height: normal;
	font-size: var(--font-size-l);
	font-family: var(--font-light), sans-serif;
}
.answer__code {
	gap: 2px;
	flex-grow: 1;
	padding: 16px;
	display: flex;
	border-radius: 8px;
	flex-direction: column;
	font-size: var(--font-size-m);
	background-color: var(--color-background-dark);
}
.answer__line--offset {
	padding-left: 16px;
}
.answer__element {
	color: var(--color-gold);
}
.answer__tag {
	color: var(--color-darkblue);
}
.answer__character {
	color: var(--color-gray);
}
.answer__key {
	color: var(--color-blue);
}
.answer__value {
	color: var(--color-brown);
}
.answer__braces {
	color: var(--color-yellow);
}
.answer__brackets {
	color: var(--color-darkgray);
}
.answer__list {
	gap: 4px;
	display: flex;
}
.answer__item {
	height: 24px;
	display: flex;
	padding: 0 12px;
	align-items: center;
	border-radius: 12px;
	font-size: var(--font-size-s);
	color: var(--color-secondary-dark);
	font-family: var(--font-medium), sans-serif;
	background-color: var(--color-background-dark);
}
