.question {
	padding: 24px;
	display: flex;
	max-width: 100%;
	min-height: 398px;
	position: relative;
	border-radius: 28px;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--color-white);
}
.question--hide {
	display: none;
}
.question__button {
	top: 8px;
	right: 8px;
	width: 40px;
	height: 40px;
	border: none;
	display: flex;
	cursor: pointer;
	position: absolute;
	align-items: center;
	border-radius: 20px;
	justify-content: center;
	background: var(--color-background-bright)
		url(../../../../images/bookmark-20.svg) center no-repeat;
}
.question__button--active {
	background-color: var(--color-primary);
	background-image: url(../../../../images/bookmark-20-filled.svg);
}
.question__span--hidden {
	top: auto;
	width: 1px;
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
}
.question__headline {
	padding-right: 40px;
	line-height: normal;
	font-size: var(--font-size-xl);
	font-family: var(--font-bold-italic), sans-serif;
}
.question__list {
	gap: 4px;
	display: flex;
}
.question__item {
	height: 24px;
	display: flex;
	padding: 0 12px;
	align-items: center;
	border-radius: 12px;
	font-size: var(--font-size-s);
	color: var(--color-secondary-bright);
	font-family: var(--font-bold), sans-serif;
	background-color: var(--color-background-bright);
}
