.question {
	padding: 24px;
	display: flex;
	aspect-ratio: 1;
	border-radius: 8px;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--color-white);
}
.question--hide {
	display: none;
}
.question__headline {
	line-height: normal;
	font-size: var(--font-size-l);
	font-family: var(--font-light), sans-serif;
}
.question__bottom {
	display: flex;
	justify-content: space-between;
}
.question__list {
	gap: 4px;
	display: flex;
}
.question__item {
	height: 24px;
	display: flex;
	padding: 0 12px;
	align-items: center;
	border-radius: 12px;
	font-size: var(--font-size-s);
	color: var(--color-secondary-bright);
	font-family: var(--font-medium), sans-serif;
	background-color: var(--color-background-bright);
}
.question__button {
	width: 24px;
	height: 24px;
	border: none;
	cursor: pointer;
	border-radius: 12px;
	border: 1px solid var(--color-border);
	background: url(../../../../images/main/add-20.svg) center no-repeat;
}
.question__button--active {
	background-size: 20px;
	border-color: var(--color-selected);
	background-color: var(--color-selected);
	background-image: url(../../../../images/main/check-20.svg);
}
.question__span--hidden {
	top: auto;
	width: 1px;
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
}
