.answer {
	gap: 16px;
	padding: 24px;
	display: flex;
	aspect-ratio: 1;
	border-radius: 20px;
	flex-direction: column;
	color: var(--color-white);
	background-color: var(--color-primary);
}
.answer--hide {
	display: none;
}
.answer__headline {
	line-height: normal;
	font-size: var(--font-size-m);
	font-family: var(--font-medium), sans-serif;
}
.answer__code {
	gap: 2px;
	flex-grow: 1;
	padding: 16px;
	display: flex;
	border-radius: 8px;
	flex-direction: column;
	font-size: var(--font-size-m);
	background-color: var(--color-background-dark);
}
.answer__line--offset {
	padding-left: 16px;
}
.answer__element {
	color: var(--color-gold);
}
.answer__tag {
	color: var(--color-darkblue);
}
.answer__character {
	color: var(--color-gray);
}
.answer__key {
	color: var(--color-blue);
}
.answer__value {
	color: var(--color-brown);
}
.answer__braces {
	color: var(--color-yellow);
}
.answer__brackets {
	color: var(--color-darkgray);
}
