.profile {
	gap: 16px;
	padding: 24px;
	display: flex;
	border-radius: 8px;
	flex-direction: column;
	align-items: flex-start;
	background-color: var(--color-white);
}
.profile__figure {
	padding: 2px;
	border-radius: 44px;
	border: 2px solid var(--color-border);
}
.profile__img {
	display: block;
	border-radius: 40px;
}
.profile__headline {
	display: flex;
	flex-direction: column;
	font-size: var(--font-size-l);
	font-family: var(--font-medium), sans-serif;
}
.profile__small {
	font-size: var(--font-size-s);
	color: var(--color-secondary-bright);
}
.profile__list {
	gap: 8px;
	display: flex;
}
.profile__item {
	gap: 12px;
	height: 32px;
	display: flex;
	font-weight: normal;
	align-items: center;
	border-radius: 16px;
	padding: 0 16px 0 4px;
	color: var(--color-primary);
	font-size: var(--font-size-s);
	font-family: var(--font-medium), sans-serif;
	background-color: var(--color-background-bright);
}
.profile__span {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	border-radius: 12px;
	justify-content: center;
	background-color: var(--color-white);
}
