.header {
	padding: 16px;
	display: flex;
	justify-content: space-between;
}
.header__section {
	gap: 16px;
	display: flex;
	align-items: center;
}
.header__logo {
	width: 48px;
	height: 48px;
	padding: 12px;
	border-radius: 24px;
	background-color: var(--color-primary);
}
.header__title {
	font-weight: 500;
	font-size: var(--font-size-m);
	font-family: var(--font-medium), sans-serif;
}
.header__title--normal {
	font-weight: 400;
	font-family: var(--font-regular), sans-serif;
}
.header__nav {
	gap: 16px;
	display: flex;
}
.header__nav-list {
	display: none;
}
.header__nav-link {
	height: 48px;
	display: flex;
	padding: 0 16px;
	font-weight: 500;
	border-radius: 6px;
	align-items: center;
	color: var(--color-secondary-bright);
	font-family: var(--font-medium), sans-serif;
}
.header__nav-link:focus-visible {
	outline-offset: 2px;
	outline: 2px solid var(--color-primary);
}
.header__nav-link--active {
	color: var(--color-primary);
	background: var(--color-background-bright);
}
.header__add-question-link {
	display: flex;
	font-weight: 500;
	border-radius: 6px;
	align-items: center;
	padding: 0 16px 0 44px;
	color: var(--color-primary);
	border: 1px solid var(--color-border);
	font-family: var(--font-medium), sans-serif;
	background: url(images/add-20.svg) left 12px center no-repeat;
}
.header__add-question-link:focus-visible {
	outline-offset: 2px;
	outline: 2px solid var(--color-primary);
}
@media (min-width: 768px) {
	.header {
		padding: 24px;
	}
	.header__nav-list {
		gap: 8px;
		display: flex;
	}
}
