@import "./card/question.css";
@import "./card/answer.css";
@import "./card/profile.css";

.main__card {
	padding: 4px;
	cursor: pointer;
	flex-basis: 100%;
	transition: transform ease 0.2s;
}
.main__card:hover {
	transform: none;
}
.main__card:active:not(:has(.question__button:active, .answer__button:active)) {
	transform: scale(1);
}
@media (min-width: 768px) {
	.main__card {
		flex-basis: 50%;
	}
	.main__card:hover {
		transform: scale(1.025);
	}
}
@media (min-width: 1280px) {
	.main__card {
		flex-basis: 33.33%;
	}
}
