.dialog {
	border: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	color: var(--color-primary);
}
.dialog::backdrop {
	/* backdrop-filter: blur(2px); */
	background: rgba(0, 0, 0, 0.75);
}
.dialog__section {
	gap: 16px;
	height: 100%;
	padding: 24px;
	display: flex;
	flex-direction: column;
}
.dialog__title {
	font-weight: 500;
	font-size: var(--font-size-l);
	font-family: var(--font-medium), sans-serif;
}
.dialog__form {
	gap: 16px;
	display: flex;
	flex-direction: column;
}
.dialog__fieldset {
	gap: 16px;
	border: none;
	display: flex;
	flex-direction: column;
}
.dialog__legend {
	font-weight: 500;
	margin-bottom: 8px;
	font-size: var(--font-size-m);
	color: var(--color-secondary-bright);
	font-family: var(--font-medium), sans-serif;
}
.dialog__label-group {
	gap: 8px;
	display: flex;
	position: relative;
	border-radius: 8px;
	flex-direction: column;
	border: 1px solid var(--color-border);
}
.dialog__label {
	top: 8px;
	left: 12px;
	font-weight: 500;
	position: absolute;
	font-size: var(--font-size-s);
	font-family: var(--font-medium), sans-serif;
}
.dialog__textarea {
	border: none;
	resize: none;
	height: 92px;
	font-weight: 300;
	background: none;
	line-height: 1.5;
	padding: 32px 12px 0;
	font-size: var(--font-size-m);
	font-family: var(--font-light), sans-serif;
}
.dialog__character-count {
	right: 12px;
	bottom: 8px;
	font-weight: 300;
	position: absolute;
	align-self: flex-end;
	font-size: var(--font-size-xs);
	color: var(--color-secondary-bright);
	font-family: var(--font-medium), sans-serif;
}
.dialog__form-footer {
	gap: 16px;
	display: flex;
	padding-top: 8px;
	justify-content: flex-end;
}
.dialog__form-button {
	height: 40px;
	border: none;
	padding: 0 40px;
	cursor: pointer;
	font-weight: 500;
	border-radius: 8px;
	color: var(--color-white);
	font-size: var(--font-size-m);
	transition: transform ease 0.2s;
	background-color: var(--color-primary);
	font-family: var(--font-medium), sans-serif;
}
.dialog__form-button--outlined {
	color: var(--color-primary);
	background-color: var(--color-white);
	border: 1px solid var(--color-border);
}
@media (min-width: 640px) {
	.dialog__form-submit-button:active {
		transform: scale(0.98);
	}
}
@media (min-width: 768px) {
	.dialog {
		width: 75vw;
		max-width: 75vw;
		border-radius: 8px;
		height: fit-content;
		box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 1280px) {
	.dialog {
		width: 50vw;
		max-width: 50vw;
	}
}
