.dialog {
	border: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	color: var(--color-primary);
}
.dialog::backdrop {
	/* backdrop-filter: blur(2px); */
	background: rgba(0, 0, 0, 0.75);
}
.dialog__section {
	gap: 16px;
	padding: 24px;
	display: flex;
	flex-direction: column;
}
.dialog__title {
	font-weight: 500;
	font-size: var(--font-size-l);
	font-family: var(--font-medium), sans-serif;
}
.dialog__form {
	gap: 16px;
	display: flex;
	flex-direction: column;
}
.dialog__fieldset {
	gap: 16px;
	display: flex;
	border-radius: 8px;
	padding-bottom: 24px;
	flex-direction: column;
	border: 1px solid var(--color-border);
}
.dialog__legend {
	height: 32px;
	float: left;
	font-weight: 500;
	padding: 8px 12px;
	border-radius: 8px 8px 0 0;
	font-size: var(--font-size-xs);
	font-family: var(--font-medium);
	color: var(--color-secondary-bright);
	background-color: var(--color-background-bright);
}
.dialog__label-group {
	gap: 8px;
	display: flex;
	margin: 0 24px;
	position: relative;
	flex-direction: column;
}
.dialog__label {
	font-weight: 500;
	font-size: var(--font-size-s);
	font-family: var(--font-medium), sans-serif;
}
.dialog__textarea {
	padding: 8px;
	resize: none;
	height: 76px;
	font-weight: 300;
	border-radius: 4px;
	font-size: var(--font-size-m);
	border: 1px solid var(--color-border);
	font-family: var(--font-light), sans-serif;
}
.dialog__input {
	height: 40px;
	padding: 0 8px;
	font-weight: 300;
	border-radius: 4px;
	font-size: var(--font-size-m);
	border: 1px solid var(--color-border);
	font-family: var(--font-light), sans-serif;
}
.dialog__character-count {
	right: 12px;
	bottom: 8px;
	font-weight: 300;
	position: absolute;
	align-self: flex-end;
	font-size: var(--font-size-xs);
	color: var(--color-secondary-bright);
	font-family: var(--font-medium), sans-serif;
}
.dialog__form-submit-button {
	height: 40px;
	border: none;
	cursor: pointer;
	padding: 0 16px;
	font-weight: 500;
	border-radius: 8px;
	color: var(--color-white);
	font-size: var(--font-size-m);
	transition: transform ease 0.2s;
	background-color: var(--color-primary);
	font-family: var(--font-medium), sans-serif;
}
@media (min-width: 640px) {
	.dialog__form-submit-button:active {
		transform: scale(0.98);
	}
}
@media (min-width: 768px) {
	.dialog {
		width: 75vw;
		max-width: 75vw;
		border-radius: 8px;
		height: fit-content;
		box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 1280px) {
	.dialog {
		width: 50vw;
		max-width: 50vw;
	}
}
