.new-question {
	flex-basis: 100%;
	border-radius: 12px;
	padding: 24px 24px 0;
	border: 1px solid var(--color-border);
}
.new-question__header-section {
	margin-bottom: 24px;
}
.new-question__title {
	font-weight: 500;
	font-size: var(--font-size-l);
	font-family: var(--font-medium), sans-serif;
}
.new-question__description {
	color: var(--color-secondary-bright);
}
.new-question__form {
	display: flex;
	flex-direction: column;
}
.new-question__fieldset {
	border: none;
	display: flex;
	padding-bottom: 24px;
	flex-direction: column;
}
.new-question__legend {
	width: 100%;
	font-weight: 500;
	padding-top: 24px;
	color: var(--color-primary);
	font-size: var(--font-size-m);
	font-family: var(--font-medium);
	border-top: 1px solid var(--color-border);
}
.new-question__fieldset-description {
	margin-bottom: 24px;
	font-size: var(--font-size-s);
	color: var(--color-secondary-bright);
}
.new-question__label-group {
	gap: 6px;
	display: flex;
	position: relative;
	flex-direction: column;
}
.new-question__label {
	font-weight: 500;
	font-size: var(--font-size-s);
	font-family: var(--font-medium), sans-serif;
}
.new-question__input {
	height: 48px;
	padding: 0 12px;
	font-weight: 400;
	line-height: 1.5;
	border-radius: 6px;
	font-size: var(--font-size-s);
	border: 1px solid var(--color-border);
	font-family: var(--font-regular), sans-serif;
}
.new-question__input[id="answer"] {
	margin-bottom: 24px;
}
.new-question__input:focus-visible {
	outline-offset: 2px;
	outline: 2px solid var(--color-primary);
}
.new-question__input::placeholder {
	color: var(--color-secondary-bright);
}
.new-question__textarea {
	resize: none;
	font-weight: 400;
	line-height: 1.5;
	padding: 8px 12px;
	border-radius: 6px;
	font-size: var(--font-size-s);
	border: 1px solid var(--color-border);
	font-family: var(--font-regular), sans-serif;
}
.new-question__textarea:focus-visible {
	outline-offset: 2px;
	outline: 2px solid var(--color-primary);
}
.new-question__textarea::placeholder {
	color: var(--color-secondary-bright);
}
.new-question__counter {
	font-weight: 500;
	align-self: flex-end;
	font-size: var(--font-size-xxs);
	color: var(--color-secondary-bright);
	font-family: var(--font-medium), sans-serif;
}
.new-question__footer {
	gap: 16px;
	bottom: 0;
	display: flex;
	padding: 24px 0;
	position: static;
	justify-content: flex-end;
	background-color: var(--color-white);
	border-top: 1px solid var(--color-border);
}
.new-question__button {
	height: 48px;
	border: none;
	padding: 0 24px;
	cursor: pointer;
	font-weight: 500;
	border-radius: 6px;
	color: var(--color-white);
	font-size: var(--font-size-m);
	transition: transform ease 0.2s;
	background-color: var(--color-primary);
	font-family: var(--font-medium), sans-serif;
}
.new-question__button:focus-visible {
	outline-offset: 2px;
	outline: 2px solid var(--color-primary);
}
.new-question__button--outlined {
	color: var(--color-primary);
	background-color: var(--color-white);
	border: 1px solid var(--color-border);
}
@media (min-width: 768px) {
	.new-question {
		flex-basis: calc(50% - 4px);
	}
	.new-question__footer {
		position: sticky;
	}
}
@media (min-width: 1280px) {
	/* .new-question {
		flex-basis: calc(66.66% - 5.3px);
	} */
}
@media (min-width: 1536px) {
	/* .new-question {
		flex-basis: calc(75% - 6px);
	} */
}
