.header {
	display: flex;
	padding: 24px 16px 24px 24px;
	justify-content: space-between;
	background-color: var(--color-background-bright);
}
.header__title {
	gap: 8px;
	display: flex;
	align-items: center;
}
.header__headline {
	font-size: var(--font-size-m);
	font-family: var(--font-bold), sans-serif;
}
.header__span {
	font-weight: normal;
	font-family: var(--font-regular), sans-serif;
}
.header__nav {
	display: none;
}
.header__list {
	gap: 8px;
	display: flex;
}
.header__link {
	gap: 8px;
	height: 40px;
	display: flex;
	padding: 0 16px;
	border-radius: 20px;
	align-items: center;
	font-size: var(--font-size-m);
	color: var(--color-secondary-bright);
	font-family: var(--font-bold), sans-serif;
}
.header__link--active {
	color: var(--color-white);
	background: var(--color-primary);
}
.header__button {
	gap: 12px;
	height: 40px;
	border: none;
	display: flex;
	cursor: pointer;
	font-weight: normal;
	border-radius: 20px;
	align-items: center;
	padding: 0 16px 0 12px;
	color: var(--color-white);
	font-size: var(--font-size-s);
	background: var(--color-primary);
	font-family: var(--font-bold), sans-serif;
}
@media (min-width: 768px) {
	.header__nav {
		display: block;
	}
}
