.header {
	display: flex;
	align-items: center;
	padding: 24px 16px 24px 24px;
	justify-content: space-between;
	background-color: var(--color-background-bright);
}
.header__headline {
	padding-left: 32px;
	font-size: var(--font-size-m);
	font-family: var(--font-bold), sans-serif;
	background: url(../../images/logo.svg) left center no-repeat;
}
.header__span {
	font-weight: normal;
	font-family: var(--font-light), sans-serif;
}
.header__nav {
	display: none;
}
.header__list {
	gap: 8px;
	display: flex;
}
.header__link {
	gap: 8px;
	height: 40px;
	display: flex;
	padding: 0 16px;
	border-radius: 20px;
	align-items: center;
	font-size: var(--font-size-m);
	color: var(--color-secondary-bright);
	font-family: var(--font-medium), sans-serif;
}
.header__link--active {
	color: var(--color-primary);
	background: var(--color-border);
}
@media (min-width: 768px) {
	.header__nav {
		display: block;
	}
}
