@import "./main/profile.css";
@import "./main/card.css";

.main {
	display: flex;
	margin: 0 auto;
	flex-flow: row wrap;
	padding: 0 12px 88px;
	justify-content: center;
}
@media (min-width: 768px) {
	.main {
		padding-bottom: 12px;
	}
}
