@import "./card.css";
@import "./profile.css";
@import "./form.css";

.main-content {
	gap: 8px;
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	padding: 0 16px 88px;
}
@media (min-width: 768px) {
	.main-content {
		padding: 0 24px 24px;
	}
}
