@font-face {
	font-family: "IBMPlexSans-Regular";
	src: url(../fonts/IBMPlexSans-Regular.ttf);
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "IBMPlexSans-SemiBold";
	src: url(../fonts/IBMPlexSans-SemiBold.ttf);
	font-style: normal;
	font-weight: 600;
}
