@font-face {
	font-family: "Geist-Regular";
	src: url(../fonts/Geist-Regular.ttf);
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Geist-Medium";
	src: url(../fonts/Geist-Medium.ttf);
	font-style: normal;
	font-weight: 500;
}
