@font-face {
	font-family: "DMSans-Light";
	src: url(../fonts/DMSans-Light.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "DMSans-Medium";
	src: url(../fonts/DMSans-Medium.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "DMSans-Bold";
	src: url(../fonts/DMSans-Bold.ttf);
	font-weight: normal;
	font-style: normal;
}
