*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
:root {
	--color-white: #ffffff;
	--color-border: #e0e0e0;
	--color-primary: #161616;
	--color-secondary-dark: #8d8d8d;
	--color-secondary-bright: #6f6f6f;
	--color-background-dark: #262626;
	--color-background-bright: #f4f4f4;

	--font-regular: "Geist-Regular", sans-serif;
	--font-medium: "Geist-Medium", sans-serif;

	--font-size-xxs: 0.625rem;
	--font-size-xs: 0.75rem;
	--font-size-s: 0.875rem;
	--font-size-m: 1rem;
	--font-size-l: 1.5rem;
}
html {
	font-size: 100%;
	line-height: 1.5;
	font-weight: 400;
	box-sizing: border-box;
	font-family: var(--font-regular), sans-serif;

	font-synthesis: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
body {
	color: var(--color-primary);
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
