*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--color-white: #ffffff;
	--color-border: #e0e0e0;
	--color-primary: #161616;
	--color-selected: #59ed83;
	--color-border-dark: #393939;
	--color-secondary-dark: #8d8d8d;
	--color-background-dark: #262626;
	--color-secondary-bright: #6f6f6f;
	--color-background-bright: #f4f4f4;

	--color-gold: #d3ba85;
	--color-gray: #cccccc;
	--color-blue: #a9dbfb;
	--color-brown: #c6937c;
	--color-yellow: #f9d749;
	--color-darkblue: #669cd1;
	--color-darkgray: #808080;

	--font-bold: "DMSans-Bold", sans-serif;
	--font-light: "DMSans-Light", sans-serif;
	--font-medium: "DMSans-Medium", sans-serif;

	--font-size-xs: 0.625rem;
	--font-size-s: 0.75rem;
	--font-size-m: 1rem;
	--font-size-l: 1.5rem;
	--font-size-xl: 2rem;
	--font-size-xxl: 2.5rem;
}
body {
	line-height: 1.5;
	color: var(--color-primary);
	font-family: var(--font-light), sans-serif;
	background-color: var(--color-background-bright);
}
h1,
h2,
h3 {
	font-weight: normal;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
