@font-face {
	font-family: "Inter_24pt-Regular";
	src: url(../fonts/Inter_24pt-Regular.ttf);
}
@font-face {
	font-family: "Inter_24pt-Bold";
	src: url(../fonts/Inter_24pt-Bold.ttf);
}

/* Global */

* {
	margin: 0;
	box-sizing: border-box;
}
body {
	color: #161616;
	line-height: 1.5;
	font-family: "Inter_24pt-Regular";
}

/* Header */

header {
	top: 0;
	z-index: 1;
	padding: 16px;
	position: sticky;
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
}
header h1 {
	font-size: 1.5em;
	text-align: center;
	font-family: "Inter_24pt-Bold";
}

/* Main */

main {
	gap: 32px;
	display: flex;
	padding: 32px;
	flex-flow: column wrap;
}
main .profile {
	gap: 32px;
	display: flex;
	flex-direction: column;
}
main .profile .header {
	gap: 24px;
	display: flex;
	align-items: center;
}
main .img {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background-color: #f4f4f4;
}
main .profile h2 {
	font-weight: 700;
	font-size: 1.25em;
	font-family: "Inter_24pt-Bold";
}
main .profile h3 {
	font-size: 1em;
	font-weight: 700;
	font-family: "Inter_24pt-Bold";
}
main .profile ul {
	gap: 8px;
	padding: 0;
	display: flex;
	list-style-type: none;
}
main .profile li {
	gap: 8px;
	height: 32px;
	display: flex;
	padding: 0 12px;
	font-weight: 700;
	font-size: 0.75em;
	align-items: center;
	border-radius: 16px;
	background-color: #f4f4f4;
	font-family: "Inter_24pt-Bold";
}
main .card {
	gap: 48px;
	display: flex;
	position: relative;
	border-radius: 8px;
	flex-direction: column;
	border: 1px solid #e0e0e0;
}
main .card h2 {
	padding: 24px;
	font-weight: 700;
	font-size: 1.25em;
	text-align: center;
	border-radius: 8px 8px 0 0;
	background-color: #f4f4f4;
	font-family: "Inter_24pt-Bold";
}
main .card .answer {
	color: #071908;
	background-color: #defbe6;
}
main .card button {
	height: 40px;
	border: none;
	cursor: pointer;
	border-radius: 20px;
	background-color: #fff;
	transition: all ease 0.2s;
	border: 1px solid #e0e0e0;
}
main .card button:hover {
	background-color: #f4f4f4;
}
main .card .toggle {
	padding: 0 32px;
	color: #161616;
	font-weight: 700;
	align-self: center;
	font-family: "Inter_24pt-Bold";
}
main .card .bookmark {
	top: -20px;
	right: 16px;
	width: 40px;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
}
main .card ul {
	gap: 8px;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0 0 24px 24px;
}
main .card li {
	height: 32px;
	display: flex;
	padding: 0 12px;
	font-weight: 700;
	font-size: 0.75em;
	align-items: center;
	border-radius: 16px;
	background-color: #f4f4f4;
	font-family: "Inter_24pt-Bold";
}

/* Footer */

footer {
	bottom: 0;
	z-index: 1;
	width: 100vw;
	padding: 12px;
	position: fixed;
	background-color: #fff;
	border-top: 1px solid #e0e0e0;
}
footer ul {
	padding: 0;
	display: flex;
	list-style-type: none;
	justify-content: space-around;
}
footer a {
	height: 40px;
	display: flex;
	padding: 0 16px;
	color: #8d8d8d;
	align-items: center;
	border-radius: 20px;
	transition: all ease 0.2s;
}
footer a:hover,
footer .active {
	background-color: #f4f4f4;
}
