.footer {
	bottom: 0;
	width: 100%;
	padding: 16px 0;
	position: fixed;
	background-color: var(--color-white);
	border-top: 1px solid var(--color-border);
}
.footer__nav-list {
	display: flex;
	justify-content: space-around;
}
.footer__nav-link {
	display: block;
	font-weight: 500;
	padding-top: 24px;
	font-size: var(--font-size-xxs);
	background: top center no-repeat;
	color: var(--color-secondary-bright);
	font-family: var(--font-medium), sans-serif;
}
.footer__nav-link-home {
	background-image: url(images/home.svg);
}
.footer__nav-link-home--active {
	color: var(--color-primary);
	background-image: url(images/home-active.svg);
}
.footer__nav-link-bookmarked {
	background-image: url(images/bookmark.svg);
}
.footer__nav-link-bookmarked--active {
	color: var(--color-primary);
	background-image: url(images/bookmark-active.svg);
}
.footer__nav-link-profile {
	background-image: url(images/profile.svg);
}
.footer__nav-link-profile--active {
	color: var(--color-primary);
	background-image: url(images/profile-active.svg);
}
@media (min-width: 768px) {
	.footer {
		display: none;
	}
}
