@import "./card/question.css";
@import "./card/answer.css";

.card {
	cursor: pointer;
	max-width: 430px;
	transition: transform ease 0.2s;
}
.card:hover {
	transform: scale(1.025);
}
.card:active:not(:has(.question__button:active, .answer__button:active)) {
	transform: scale(1);
}
