.profile {
	gap: 24px;
	display: flex;
	max-width: 100%;
	border-radius: 28px;
	align-items: center;
	flex-direction: column;
	padding: 48px 24px 24px;
	background-color: var(--color-white);
}
.profile__figure {
	padding: 2px;
	border-radius: 64px;
	border: 2px solid var(--color-border);
}
.profile__img {
	display: block;
	border-radius: 120px;
}
.profile__name {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.profile__headline {
	font-size: var(--font-size-l);
	font-family: var(--font-bold-italic), sans-serif;
}
.profile__small {
	font-size: var(--font-size-s);
	color: var(--color-secondary-bright);
	font-family: var(--font-bold), sans-serif;
}
.profile__list {
	gap: 8px;
	display: flex;
}
.profile__item {
	gap: 12px;
	height: 32px;
	display: flex;
	font-weight: normal;
	align-items: center;
	border-radius: 16px;
	padding: 0 16px 0 4px;
	color: var(--color-primary);
	font-size: var(--font-size-s);
	font-family: var(--font-bold), sans-serif;
	background-color: var(--color-background-bright);
}
.profile__span {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	border-radius: 12px;
	justify-content: center;
	background-color: var(--color-white);
}
