*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--color-white: #ffffff;
	--color-border: #e0e0e0;
	--color-primary: #161616;
	--color-secondary-dark: #8d8d8d;
	--color-secondary-bright: #6f6f6f;
	--color-background-dark: #262626;
	--color-background-bright: #f4f4f4;
	--color-highlight: #daff00;

	--font-regular: "Geist-Regular", sans-serif;
	--font-medium: "Geist-Medium", sans-serif;

	--font-size-xxs: 0.625rem;
	--font-size-xs: 0.75rem;
	--font-size-s: 0.875rem;
	--font-size-m: 1rem;
	--font-size-l: 1.5rem;
}
html {
	font-size: 100%;
	line-height: 1.5;
	font-weight: 400;
	font-family: var(--font-regular), sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	margin: 0 auto;
	max-width: 1536px;
	color: var(--color-primary);
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
main {
	gap: 16px;
	display: grid;
	align-items: start;
	padding: 0 16px 88px;
}
@media (min-width: 768px) {
	main {
		padding: 0 24px 24px;
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 1280px) {
	main {
		grid-template-columns: repeat(3, 1fr);
	}
}
